@charset "UTF-8";
.mui-divider {
  display: inline-block;
  width: 100%;
  background: #aaa;
}

.mui-select__menu {
  z-index: 10;
}

#mui-overlay {
  z-index: 2;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  /* 	@include transition(all .3s ease-in-out); */
}
#mui-overlay .mui-overlay-model {
  position: absolute;
  /* 		top:50%; */
  padding: 0;
  border-radius: 2px;
  overflow: hidden;
  opacity: 0;
  /* 		@include transition(all .3s ease-in-out);  */
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  /* IE 9 */
  -moz-box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  /* Firefox */
  -webkit-box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  /* Safari 和 Chrome */
  -o-box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  animation: model-opacity 0.3s ease-in-out 0s 1 forwards;
  -moz-animation: model-opacity 0.3s ease-in-out 0s 1 forwards;
  -webkit-animation: model-opacity 0.3s ease-in-out 0s 1 forwards;
  -o-animation: model-opacity 0.3s ease-in-out 0s 1 forwards;
  -ms-animation: model-opacity 0.3s ease-in-out 0s 1 forwards;
}
#mui-overlay .mui-overlay-model .mui-panel {
  margin: 0;
}
#mui-overlay .mui-overlay-model .mui-overlay-title {
  position: relative;
  padding: .5em;
  font-size: 120%;
  font-weight: 500;
  letter-spacing: 3px;
  background-color: #FF2257;
  color: #fff;
}
#mui-overlay .mui-overlay-model .mui-overlay-title .mui-overlay-title-text {
  margin-right: 1em;
}
#mui-overlay .mui-overlay-model .mui-overlay-title .mui-overlay-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
  cursor: pointer;
}
#mui-overlay .mui-overlay-model .mui-overlay-message {
  margin-bottom: .5em;
}

.mui-textfield--float-label > label {
  opacity: 1;
}

.mui-textfield--float-label > input:focus ~ label,
.mui-textfield--float-label > textarea:focus ~ label {
  opacity: .8;
}

.mui-textfield--float-label > input:not(:focus).mui--is-not-empty ~ label,
.mui-textfield--float-label > input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > textarea:not(:focus).mui--is-not-empty ~ label,
.mui-textfield--float-label > textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label {
  opacity: .8;
}

.mui-panel {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mui-panel .mui-error-message {
  color: #F44336;
}

.mui-tabs__bar {
  text-align: center;
}

.mui-tabs__bar > li {
  position: relative;
}
.mui-tabs__bar > li > a {
  color: #9a9796;
}
.mui-tabs__bar > li:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  display: block;
  width: 100%;
  height: 3px;
  background: #FF1B47;
  opacity: 0;
  content: '';
  transform: scaleX(0.2);
  -ms-transform: scaleX(0.2);
  /* IE 9 */
  -moz-transform: scaleX(0.2);
  /* Firefox */
  -webkit-transform: scaleX(0.2);
  /* Safari 和 Chrome */
  -o-transform: scaleX(0.2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.mui-tabs__bar > li.mui--is-active {
  border-bottom: 0;
}
.mui-tabs__bar > li.mui--is-active:after {
  opacity: 1;
  transform: scaleX(1);
  -ms-transform: scaleX(1);
  /* IE 9 */
  -moz-transform: scaleX(1);
  /* Firefox */
  -webkit-transform: scaleX(1);
  /* Safari 和 Chrome */
  -o-transform: scaleX(1);
}
.mui-tabs__bar > li.mui--is-active > a {
  color: #FF1B47;
}

.mui-btn--pink {
  color: #FFF;
  background-color: #ff5555;
}

.mui-btn--pink:hover,
.mui-btn--pink:focus,
.mui-btn--pink:active {
  color: #FFF;
  background-color: #F99F9F;
}

.mui-btn--pink[disabled]:hover,
.mui-btn--pink[disabled]:focus,
.mui-btn--pink[disabled]:active {
  color: #FFF;
  background-color: #ff5555;
}

.mui-btn--pink.mui-btn--flat {
  color: #ff5555;
  background-color: transparent;
}

.mui-btn--pink.mui-btn--flat:hover,
.mui-btn--pink.mui-btn--flat:focus,
.mui-btn--pink.mui-btn--flat:active {
  color: #ff5555;
  background-color: #F99F9F;
}

.mui-btn--pink.mui-btn--flat[disabled]:hover,
.mui-btn--pink.mui-btn--flat[disabled]:focus,
.mui-btn--pink.mui-btn--flat[disabled]:active {
  color: #ff5555;
  background-color: transparent;
}

.mui-btn--pink > .mui-ripple-effect {
  background-color: #FFF;
}

.mui-buttons {
  display: inline-block;
  width: 100%;
  margin-bottom: .5em;
  text-align: center;
}
.mui-buttons.right {
  text-align: right;
}
.mui-buttons.left {
  text-align: left;
}

.mui-btn {
  font-size: 100%;
}
.mui-btn.block {
  display: block;
}
.mui-btn.left {
  float: left;
}
.mui-btn.right {
  float: right;
}
.mui-btn.right + .mui-btn.right {
  margin-right: 8px;
}
.mui-btn.small {
  padding: 0 6px;
}

.mui-checkbox {
  font-size: 80%;
}

.mui-textfield {
  margin-bottom: 10px;
}
.mui-textfield label {
  color: #262d38;
}
.mui-textfield input {
  border-bottom: 1px solid #262d38;
}
.mui-textfield textarea {
  border-bottom: 1px solid #262d38;
}
.mui-textfield .mui-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.mui-textfield .message {
  font-size: 80%;
}
.mui-textfield.date-select > .date-icon {
  position: absolute;
  padding: 20px 10px 10px 10px;
  right: 0;
  top: 0;
}

.mui-textfield--float-label label {
  color: #888888;
}

.mui-textfield--float-label > input:focus ~ label,
.mui-textfield--float-label > textarea:focus ~ label {
  font-size: 80%;
  line-height: 150%;
  color: #262d38;
}

.mui-textfield--float-label > input:required ~ label:before {
  content: "*";
  color: #f00;
  margin-right: .5em;
}

.mui-textfield--float-label.error input {
  border-color: #F44336;
  border-width: 2px;
}
.mui-textfield--float-label.error .message {
  color: #F44336;
}
.mui-textfield--float-label > img {
  position: absolute;
  height: 2.5em;
  top: 0;
  right: 0;
}
.mui-textfield--float-label .message {
  font-size: 80%;
}

.mui-textfield--float-label > input:not(:focus).mui--is-not-empty ~ label,
.mui-textfield--float-label > input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > textarea:not(:focus).mui--is-not-empty ~ label,
.mui-textfield--float-label > textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label {
  color: #2196F3;
  font-size: 80%;
  line-height: 150%;
}

.mui-textfield > input:disabled, .mui-textfield > input:read-only, .mui-textfield > textarea:disabled, .mui-textfield > textarea:read-only {
  color: #9c9c9c;
  border-bottom: 1px solid #C3C3C3;
}
.mui-textfield > input:disabled ~ label, .mui-textfield > input:read-only ~ label, .mui-textfield > textarea:disabled ~ label, .mui-textfield > textarea:read-only ~ label {
  color: #9c9c9c;
}

.mui-select {
  font-size: 100%;
  color: #262d38;
}
.mui-select select {
  border-bottom: 1px solid #262d38;
  /* 		background: transparent; */
}
.mui-select label {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  font-size: 80%;
  font-weight: 400;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mui-select .message {
  font-size: 80%;
}

@-webkit-keyframes model-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes model-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes model-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes model-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes model-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mui-col-xs32-*, .mui-col-xs48-*, .mui-col-xs64-* {
  float: left;
}

.mui-col-xs32-0, .mui-col-xs48-0, .mui-col-xs64-0 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-0 {
  width: 0%;
}

.mui-col-xs32-offset-0 {
  margin-left: 0%;
}

.mui-col-xs32-1, .mui-col-xs48-1, .mui-col-xs64-1 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-1 {
  width: 8.33333%;
}

.mui-col-xs32-offset-1 {
  margin-left: 8.33333%;
}

.mui-col-xs32-2, .mui-col-xs48-2, .mui-col-xs64-2 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-2 {
  width: 16.66667%;
}

.mui-col-xs32-offset-2 {
  margin-left: 16.66667%;
}

.mui-col-xs32-3, .mui-col-xs48-3, .mui-col-xs64-3 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-3 {
  width: 25%;
}

.mui-col-xs32-offset-3 {
  margin-left: 25%;
}

.mui-col-xs32-4, .mui-col-xs48-4, .mui-col-xs64-4 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-4 {
  width: 33.33333%;
}

.mui-col-xs32-offset-4 {
  margin-left: 33.33333%;
}

.mui-col-xs32-5, .mui-col-xs48-5, .mui-col-xs64-5 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-5 {
  width: 41.66667%;
}

.mui-col-xs32-offset-5 {
  margin-left: 41.66667%;
}

.mui-col-xs32-6, .mui-col-xs48-6, .mui-col-xs64-6 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-6 {
  width: 50%;
}

.mui-col-xs32-offset-6 {
  margin-left: 50%;
}

.mui-col-xs32-7, .mui-col-xs48-7, .mui-col-xs64-7 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-7 {
  width: 58.33333%;
}

.mui-col-xs32-offset-7 {
  margin-left: 58.33333%;
}

.mui-col-xs32-8, .mui-col-xs48-8, .mui-col-xs64-8 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-8 {
  width: 66.66667%;
}

.mui-col-xs32-offset-8 {
  margin-left: 66.66667%;
}

.mui-col-xs32-9, .mui-col-xs48-9, .mui-col-xs64-9 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-9 {
  width: 75%;
}

.mui-col-xs32-offset-9 {
  margin-left: 75%;
}

.mui-col-xs32-10, .mui-col-xs48-10, .mui-col-xs64-10 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-10 {
  width: 83.33333%;
}

.mui-col-xs32-offset-10 {
  margin-left: 83.33333%;
}

.mui-col-xs32-11, .mui-col-xs48-11, .mui-col-xs64-11 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-11 {
  width: 91.66667%;
}

.mui-col-xs32-offset-11 {
  margin-left: 91.66667%;
}

.mui-col-xs32-12, .mui-col-xs48-12, .mui-col-xs64-12 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-12 {
  width: 100%;
}

.mui-col-xs32-offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 480px) {
  #mui-overlay .mui-overlay-model {
    position: relative;
    top: 10px;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    /* IE 9 */
    -moz-transform: translate(0, 0);
    /* Firefox */
    -webkit-transform: translate(0, 0);
    /* Safari 和 Chrome */
    -o-transform: translate(0, 0);
  }

  .mui-col-xs48-0 {
    width: 0%;
  }

  .mui-col-xs48-offset-0 {
    margin-left: 0%;
  }

  .mui-col-xs48-1 {
    width: 8.33333%;
  }

  .mui-col-xs48-offset-1 {
    margin-left: 8.33333%;
  }

  .mui-col-xs48-2 {
    width: 16.66667%;
  }

  .mui-col-xs48-offset-2 {
    margin-left: 16.66667%;
  }

  .mui-col-xs48-3 {
    width: 25%;
  }

  .mui-col-xs48-offset-3 {
    margin-left: 25%;
  }

  .mui-col-xs48-4 {
    width: 33.33333%;
  }

  .mui-col-xs48-offset-4 {
    margin-left: 33.33333%;
  }

  .mui-col-xs48-5 {
    width: 41.66667%;
  }

  .mui-col-xs48-offset-5 {
    margin-left: 41.66667%;
  }

  .mui-col-xs48-6 {
    width: 50%;
  }

  .mui-col-xs48-offset-6 {
    margin-left: 50%;
  }

  .mui-col-xs48-7 {
    width: 58.33333%;
  }

  .mui-col-xs48-offset-7 {
    margin-left: 58.33333%;
  }

  .mui-col-xs48-8 {
    width: 66.66667%;
  }

  .mui-col-xs48-offset-8 {
    margin-left: 66.66667%;
  }

  .mui-col-xs48-9 {
    width: 75%;
  }

  .mui-col-xs48-offset-9 {
    margin-left: 75%;
  }

  .mui-col-xs48-10 {
    width: 83.33333%;
  }

  .mui-col-xs48-offset-10 {
    margin-left: 83.33333%;
  }

  .mui-col-xs48-11 {
    width: 91.66667%;
  }

  .mui-col-xs48-offset-11 {
    margin-left: 91.66667%;
  }

  .mui-col-xs48-12 {
    width: 100%;
  }

  .mui-col-xs48-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 640px) {
  .mui-col-xs64-0 {
    width: 0%;
  }

  .mui-col-xs64-offset-0 {
    margin-left: 0%;
  }

  .mui-col-xs64-1 {
    width: 8.33333%;
  }

  .mui-col-xs64-offset-1 {
    margin-left: 8.33333%;
  }

  .mui-col-xs64-2 {
    width: 16.66667%;
  }

  .mui-col-xs64-offset-2 {
    margin-left: 16.66667%;
  }

  .mui-col-xs64-3 {
    width: 25%;
  }

  .mui-col-xs64-offset-3 {
    margin-left: 25%;
  }

  .mui-col-xs64-4 {
    width: 33.33333%;
  }

  .mui-col-xs64-offset-4 {
    margin-left: 33.33333%;
  }

  .mui-col-xs64-5 {
    width: 41.66667%;
  }

  .mui-col-xs64-offset-5 {
    margin-left: 41.66667%;
  }

  .mui-col-xs64-6 {
    width: 50%;
  }

  .mui-col-xs64-offset-6 {
    margin-left: 50%;
  }

  .mui-col-xs64-7 {
    width: 58.33333%;
  }

  .mui-col-xs64-offset-7 {
    margin-left: 58.33333%;
  }

  .mui-col-xs64-8 {
    width: 66.66667%;
  }

  .mui-col-xs64-offset-8 {
    margin-left: 66.66667%;
  }

  .mui-col-xs64-9 {
    width: 75%;
  }

  .mui-col-xs64-offset-9 {
    margin-left: 75%;
  }

  .mui-col-xs64-10 {
    width: 83.33333%;
  }

  .mui-col-xs64-offset-10 {
    margin-left: 83.33333%;
  }

  .mui-col-xs64-11 {
    width: 91.66667%;
  }

  .mui-col-xs64-offset-11 {
    margin-left: 91.66667%;
  }

  .mui-col-xs64-12 {
    width: 100%;
  }

  .mui-col-xs64-offset-12 {
    margin-left: 100%;
  }
}
body.show-menu {
  overflow: hidden !important;
}
body.show-menu > .common-menu {
  right: 0;
  opacity: 1;
  pointer-events: auto;
}
body.show-menu > .common-menu-screen {
  opacity: 1 !important;
  pointer-events: auto;
}
body > .common-menu {
  position: fixed;
  top: 0;
  right: -250px;
  z-index: 6;
  display: inline-block;
  width: 250px;
  height: 100%;
  margin-left: 100%;
  overflow-y: auto;
  font-size: 70%;
  background-color: #FF2257;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
body > .common-menu .user-info {
  background-color: #fff;
  color: #000;
  width: 100%;
}
body > .common-menu .user-info .photo {
  display: table-cell;
  padding: 15px 10px 15px 10px;
  font-size: 5em;
  vertical-align: top;
}
body > .common-menu .user-info .info {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
body > .common-menu .user-info .info .row .cell {
  display: table-cell;
  white-space: nowrap;
}
body > .common-menu .user-info .info .row .cell:nth-child(1) {
  letter-spacing: 2px;
}
body > .common-menu .user-info .info .row .cell:nth-child(1):before {
  color: #FF2257;
}
body > .common-menu .user-info .info .row .cell:nth-child(2) {
  width: 100%;
  color: #FF2257;
}
body > .common-menu .report {
  display: inline-block;
  width: 100%;
  background-color: #fff;
}
body > .common-menu .report .report-box {
  text-align: center;
}
body > .common-menu .report .report-box .report-text {
  line-height: 30px;
}
body > .common-menu .item-box {
  display: inline-block;
  width: 100%;
  color: #262d38;
}
body > .common-menu .item-box .item {
  width: 100%;
  line-height: 2.5em;
  font-size: 1.5em;
  text-indent: 10px;
  color: #fff;
}
body > .common-menu .item-box .item .icon:before {
  margin-right: 10px;
  font-size: 130%;
}
body > .common-menu-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 6, 6, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
}

body .header-margin {
  display: inline-block;
  width: 100%;
  height: 2.5em;
}
body > .common-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 2.5em;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  line-height: 2.5em;
  text-align: center;
  background-color: #FF2257;
  color: #fff;
  opacity: 1;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* IE 9 */
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* Firefox */
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* Safari 和 Chrome */
  -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
body > .common-header.hide {
  animation: header 0.3s 1 linear;
  -moz-animation: header 0.3s 1 linear;
  -webkit-animation: header 0.3s 1 linear;
  -o-animation: header 0.3s 1 linear;
  -ms-animation: header 0.3s 1 linear;
}
body > .common-header .logo {
  position: absolute;
  top: 50%;
  left: 0;
  /* 			width:96px; */
  /* 			height:38px; */
  font-size: 150%;
  opacity: 1;
  /* 	    	background-image:url('../images/logo.gif'); */
  /* 	    	background-repeat: no-repeat; */
  /* 	    	background-size:100%; */
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  /* IE 9 */
  -moz-transform: translate(0, -50%);
  /* Firefox */
  -webkit-transform: translate(0, -50%);
  /* Safari 和 Chrome */
  -o-transform: translate(0, -50%);
}
body > .common-header > .segments {
  float: left;
}
body > .common-header .left-button {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px #BB002D;
  cursor: pointer;
}
body > .common-header .left-button:before {
  font-size: 100%;
}
body > .common-header .right-button {
  position: relative;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px #BB002D;
  cursor: pointer;
}
body > .common-header .right-button:before {
  font-size: 100%;
}
body > .common-header .right-button:after {
  background-color: #999;
  border-radius: 50%;
}

@-webkit-keyframes header {
  0% {
    height: 3em;
  }
  70% {
    height: 1em;
  }
  100% {
    height: 0em;
  }
}
@-ms-keyframes header {
  0% {
    height: 3em;
  }
  70% {
    height: 1em;
  }
  100% {
    height: 0em;
  }
}
@-moz-keyframes header {
  0% {
    height: 3em;
  }
  70% {
    height: 1em;
  }
  100% {
    height: 0em;
  }
}
@-o-keyframes header {
  0% {
    height: 3em;
  }
  70% {
    height: 1em;
  }
  100% {
    height: 0em;
  }
}
@keyframes header {
  0% {
    height: 3em;
  }
  70% {
    height: 1em;
  }
  100% {
    height: 0em;
  }
}
.mui-datepicker {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 300px;
  padding: 0;
  font-size: 14px;
  background-color: #fff;
  color: #848484;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%, -50%);
  /* 	@include transform( translate(0,-50%)); */
  box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22);
  /* IE 9 */
  -moz-box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22);
  /* Firefox */
  -webkit-box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22);
  /* Safari 和 Chrome */
  -o-box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22);
}
.mui-datepicker.top {
  top: 15px;
  margin-bottom: 15px;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -moz-transform: translate(-50%, 0);
  /* Firefox */
  -webkit-transform: translate(-50%, 0);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%, 0);
  /* 		@include transform(none); */
}
.mui-datepicker .d-header {
  display: inline-block;
  width: 100%;
  padding: 5px;
  background-color: #FF1B47;
}
.mui-datepicker .d-header .d-header-text-1 {
  text-align: left;
  font-size: 110%;
  color: rgba(255, 255, 255, 0.8);
}
.mui-datepicker .d-header .d-header-text-2 {
  width: 4em;
  margin: 0 auto;
  text-align: center;
  font-size: 200%;
  color: #fff;
}
.mui-datepicker .d-content {
  height: 320px;
}
.mui-datepicker .d-content .d-buttons-wrap {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 16px;
}
.mui-datepicker .d-content .d-content-year-wrap {
  position: relative;
  display: none;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  font-size: 150%;
  line-height: 250%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.mui-datepicker .d-content .d-content-year-wrap.active {
  display: block;
  opacity: 1;
}
.mui-datepicker .d-content .d-content-year-wrap .d-content-year {
  margin-bottom: 50px;
}
.mui-datepicker .d-content .d-content-year-wrap .d-content-year div {
  width: 100%;
}
.mui-datepicker .d-content .d-content-year-wrap .d-content-year div.active {
  background-color: #EDEDED;
  color: #FF1B47;
}
.mui-datepicker .d-content .d-content-month-wrap {
  position: relative;
  display: none;
  height: 100%;
  margin-bottom: 50px;
  overflow-y: auto;
  text-align: center;
  font-size: 150%;
  line-height: 250%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.mui-datepicker .d-content .d-content-month-wrap.active {
  display: block;
  opacity: 1;
}
.mui-datepicker .d-content .d-content-month-wrap .d-content-month {
  margin-bottom: 50px;
}
.mui-datepicker .d-content .d-content-month-wrap .d-content-month div {
  width: 100%;
}
.mui-datepicker .d-content .d-content-month-wrap .d-content-month div.active {
  background-color: #EDEDED;
  color: #FF1B47;
}
.mui-datepicker .d-content .d-content-day-wrap {
  display: none;
  margin: 10px;
  font-size: 80%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.mui-datepicker .d-content .d-content-day-wrap.active {
  display: block;
  opacity: 1;
}
.mui-datepicker .d-content .d-content-day-wrap .d-content-yesrmonth {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mui-datepicker .d-content .d-content-day-wrap .d-content-yesrmonth .d-content-yesrmonth-next {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 130%;
  cursor: pointer;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
}
.mui-datepicker .d-content .d-content-day-wrap .d-content-yesrmonth .d-content-yesrmonth-next:before {
  cursor: pointer;
}
.mui-datepicker .d-content .d-content-day-wrap .d-content-yesrmonth .d-content-yesrmonth-last {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 130%;
  cursor: pointer;
}
.mui-datepicker .d-content .d-content-day-wrap .d-content-yesrmonth .d-content-yesrmonth-last:before {
  cursor: pointer;
}
.mui-datepicker .d-content .d-content-day-wrap .d-content-yesrmonth .d-content-yesrmonth-text {
  font-weight: 700;
  text-align: center;
  font-size: 120%;
}
.mui-datepicker .d-content .d-content-day-wrap .d-content-week {
  display: inline-block;
  width: 100%;
}
.mui-datepicker .d-content .d-content-day-wrap .d-content-day {
  display: inline-block;
  width: 100%;
}
.mui-datepicker .d-content .d-content-day-wrap .d-content-date-block {
  display: inline-block;
  width: 14.28571%;
  vertical-align: top;
}
.mui-datepicker .d-content .d-content-day-wrap .d-content-date-block span {
  display: block;
  width: 3em;
  height: 3em;
  margin: 0 auto;
  text-align: center;
  line-height: 3em;
}
.mui-datepicker .d-content .d-content-day-wrap .d-content-date-block.active span {
  border-radius: 50%;
  background-color: #FF1B47;
  color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  /* IE 9 */
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  /* Firefox */
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  /* Safari 和 Chrome */
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}

.m-grid {
  width: 100%;
  padding: 5px;
  overflow: hidden;
  font-size: 16px;
  background-color: #fff;
}
.m-grid .m-grid-header {
  position: relative;
  width: 100%;
  font-size: 120%;
}
.m-grid .m-grid-footer {
  position: relative;
  width: 100%;
}
.m-grid .m-grid-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 100%;
}
.m-grid .m-grid-pagination .m-grid-pagination-left {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 5em;
  padding: 5px 0 5px 0;
}
.m-grid .m-grid-pagination .m-grid-pagination-left > div {
  float: left;
  width: 50%;
  text-align: center;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
}
.m-grid .m-grid-pagination .m-grid-pagination-right {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 5em;
  padding: 5px 0 5px 0;
}
.m-grid .m-grid-pagination .m-grid-pagination-right > div {
  float: left;
  width: 50%;
  text-align: center;
}
.m-grid .m-grid-pagination .m-grid-pagination-page {
  display: inline-block;
  width: 100%;
  padding: 5px 5em 5px 5em;
  text-align: center;
}
.m-grid .m-grid-pagination .m-grid-pagination-page input {
  width: 2em;
  border: 1px solid #676666;
  text-align: center;
}
.m-grid .m-grid-pagination .m-grid-pagination-page .m-grid-pagination-page-num {
  display: inline-block;
  padding: 5px 10px 5px 10px;
}
.m-grid .m-grid-refresh {
  float: right;
  padding: 5px;
}
.m-grid .m-grid-footer-text {
  text-align: right;
}
.m-grid .m-grid-table {
  width: 100%;
  overflow-y: auto;
}
.m-grid .m-grid-table table {
  width: 100%;
}
.m-grid .m-grid-table table thead {
  width: 100%;
}
.m-grid .m-grid-table table thead tr {
  border-bottom: 2px solid #CAC7C7;
}
.m-grid .m-grid-table table thead tr td {
  padding: 5px;
  text-align: center;
  font-size: 100%;
  color: #000;
}
.m-grid .m-grid-table table tbody {
  width: 100%;
}
.m-grid .m-grid-table table tbody tr {
  border-bottom: 1px solid #CAC7C7;
}
.m-grid .m-grid-table table tbody tr td {
  padding: 10px 5px 10px 5px;
  text-align: center;
  font-size: 80%;
  color: #757575;
}
.m-grid .m-grid-table table tbody tr td .m-grid-row-content-form {
  display: table;
  width: 100%;
  padding: 10px;
  text-align: left;
}
.m-grid .m-grid-table table tbody tr td .m-grid-row-content-form .m-grid-row-content-row .m-grid-row-content-label {
  float: left;
  text-align: right;
  width: 6em;
}
.m-grid .m-grid-table table .m-grid-row {
  background-color: #fff;
}
.m-grid .m-grid-table table .m-grid-row.active {
  border-bottom: 0;
  background-color: #DAEDFF;
}
.m-grid .m-grid-table table .m-grid-row.active .m-grid-row-open {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -webkit-transform: rotate(90deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(90deg);
}
.m-grid .m-grid-table table .m-grid-row.active + .m-grid-row-content {
  display: table-row;
}
.m-grid .m-grid-table table .m-grid-row .m-grid-row-open {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.m-grid .m-grid-table table .m-grid-row-content {
  display: none;
  width: 100%;
}
.m-grid .m-grid-table table .m-grid-row-content td {
  padding: 0px;
}
.m-grid .m-grid-table table .m-grid-row-content .m-grid-row-content-text {
  padding: 5px;
}

.loader {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.loader.show {
  display: block;
}
.loader.show .loader-block .loading {
  animation-play-state: inherit;
  -moz-animation-play-state: inherit;
  -webkit-animation-play-state: inherit;
  -o-animation-play-state: inherit;
  -ms-animation-play-state: inherit;
}
.loader .loader-block {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 21;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%, -50%);
}
.loader .loader-block .loading {
  height: 12em;
  width: 12em;
  border: .5em solid transparent;
  border-radius: 500%;
  animation: loading 1s infinite linear;
  -moz-animation: loading 1s infinite linear;
  -webkit-animation: loading 1s infinite linear;
  -o-animation: loading 1s infinite linear;
  -ms-animation: loading 1s infinite linear;
}
.loader .loader-block .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 120%;
  text-align: center;
  font-weight: 500%;
  letter-spacing: 3px;
  color: #fff;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%, -50%);
}

.loader-hidden {
  overflow: hidden !important;
}

@-webkit-keyframes loading {
  0% {
    border-right-color: transparent;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
  }
  70% {
    border-right-color: #ff0053;
    transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    /* IE 9 */
    -moz-transform: rotate(300deg);
    /* Firefox */
    -webkit-transform: rotate(300deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(300deg);
  }
  90% {
    border-right-color: transparent;
    transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    /* IE 9 */
    -moz-transform: rotate(320deg);
    /* Firefox */
    -webkit-transform: rotate(320deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(320deg);
  }
  100% {
    border-right-color: transparent;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes loading {
  0% {
    border-right-color: transparent;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
  }
  70% {
    border-right-color: #ff0053;
    transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    /* IE 9 */
    -moz-transform: rotate(300deg);
    /* Firefox */
    -webkit-transform: rotate(300deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(300deg);
  }
  90% {
    border-right-color: transparent;
    transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    /* IE 9 */
    -moz-transform: rotate(320deg);
    /* Firefox */
    -webkit-transform: rotate(320deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(320deg);
  }
  100% {
    border-right-color: transparent;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  0% {
    border-right-color: transparent;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
  }
  70% {
    border-right-color: #ff0053;
    transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    /* IE 9 */
    -moz-transform: rotate(300deg);
    /* Firefox */
    -webkit-transform: rotate(300deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(300deg);
  }
  90% {
    border-right-color: transparent;
    transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    /* IE 9 */
    -moz-transform: rotate(320deg);
    /* Firefox */
    -webkit-transform: rotate(320deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(320deg);
  }
  100% {
    border-right-color: transparent;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  0% {
    border-right-color: transparent;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
  }
  70% {
    border-right-color: #ff0053;
    transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    /* IE 9 */
    -moz-transform: rotate(300deg);
    /* Firefox */
    -webkit-transform: rotate(300deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(300deg);
  }
  90% {
    border-right-color: transparent;
    transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    /* IE 9 */
    -moz-transform: rotate(320deg);
    /* Firefox */
    -webkit-transform: rotate(320deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(320deg);
  }
  100% {
    border-right-color: transparent;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    border-right-color: transparent;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
  }
  70% {
    border-right-color: #ff0053;
    transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    /* IE 9 */
    -moz-transform: rotate(300deg);
    /* Firefox */
    -webkit-transform: rotate(300deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(300deg);
  }
  90% {
    border-right-color: transparent;
    transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    /* IE 9 */
    -moz-transform: rotate(320deg);
    /* Firefox */
    -webkit-transform: rotate(320deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(320deg);
  }
  100% {
    border-right-color: transparent;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(360deg);
  }
}
body.show-dialog {
  overflow: hidden !important;
}
body.show-dialog .common-dialog {
  transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -o-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -ms-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
body .common-dialog {
  position: fixed;
  top: 0;
  left: -10000px;
  z-index: 5;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
  transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
  -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
  -moz-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
  -o-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
  -ms-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
}
body .common-dialog.top {
  padding-top: 4em !important;
  padding-bottom: 1em !important;
}
body .common-dialog > div .common-dialog-position {
  position: relative;
  top: -40px;
  z-index: 3;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -ms-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
body .common-dialog > div .common-dialog-position .common-dialog-model {
  padding: 0;
  border-radius: 2px;
  -webkit-tap-highlight-color: transparent;
  background-color: #FFF;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -ms-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  /* IE 9 */
  -moz-box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  /* Firefox */
  -webkit-box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  /* Safari 和 Chrome */
  -o-box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
}
body .common-dialog > div .common-dialog-position .common-dialog-model .mui-panel {
  margin: 0;
  border-radius: 0 0 2px 2px;
}
body .common-dialog > div .common-dialog-position .common-dialog-model .common-dialog-title {
  position: relative;
  padding: .5em;
  border-radius: 2px 2px 0 0;
  font-size: 120%;
  font-weight: 500;
  letter-spacing: 3px;
  background-color: #FF2257;
  color: #fff;
}
body .common-dialog > div .common-dialog-position .common-dialog-model .common-dialog-title .common-dialog-title-text {
  margin-right: 1em;
}
body .common-dialog > div .common-dialog-position .common-dialog-model .common-dialog-title .common-dialog-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
  cursor: pointer;
}
body .common-dialog > div .common-dialog-position .common-dialog-model .common-dialog-message {
  margin-bottom: .5em;
}
body .common-dialog .common-dialog-screen {
  position: fixed;
  top: 0;
  left: -10000px;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.54118);
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  will-change: opacity;
  transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  /* IE 9 */
  -moz-transform: translateZ(0px);
  /* Firefox */
  -webkit-transform: translateZ(0px);
  /* Safari 和 Chrome */
  -o-transform: translateZ(0px);
  transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -o-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -ms-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button,
textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1em;
  font-family: 'Microsoft Yahei', sans-serif;
  color: #262d38;
}

*, *:after, *:before {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  /* IE 9 */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari 和 Chrome */
  -o-box-sizing: border-box;
}

[placeholder] {
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.h1 {
  font-size: 200%;
  line-height: 220%;
  letter-spacing: 2px;
}

.h2 {
  font-size: 150%;
  line-height: 170%;
  letter-spacing: 2px;
}

.h3 {
  font-size: 120%;
  line-height: 150%;
  letter-spacing: 2px;
}

.bold {
  font-weight: 700;
}

.indent {
  text-indent: 2em;
}

.center {
  text-align: center;
}

input {
  border: 1px solid #8aaada;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
}

.space-1 {
  display: inline-block;
  width: 100%;
  height: 10px;
}

.space-2 {
  display: inline-block;
  width: 100%;
  height: 20px;
}

.space-3 {
  display: inline-block;
  width: 100%;
  height: 30px;
}

.load-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%, -50%);
}
.load-circle:before {
  display: block;
  width: 2em;
  height: 2em;
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-radius: 50%;
  content: '';
  animation: spCircRot 0.6s infinite linear;
  -moz-animation: spCircRot 0.6s infinite linear;
  -webkit-animation: spCircRot 0.6s infinite linear;
  -o-animation: spCircRot 0.6s infinite linear;
  -ms-animation: spCircRot 0.6s infinite linear;
}

body > .main-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 100%;
}
body > .main-wrap > .views {
  width: 100%;
}
body > .main-wrap > .views > .view {
  position: relative;
  display: none;
  width: 100%;
  animation: active 0.3s ease-in-out 0s 1;
  -moz-animation: active 0.3s ease-in-out 0s 1;
  -webkit-animation: active 0.3s ease-in-out 0s 1;
  -o-animation: active 0.3s ease-in-out 0s 1;
  -ms-animation: active 0.3s ease-in-out 0s 1;
}
body .common-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 80%;
  background-color: #D7D7D7;
  color: #4F4A4A;
}
body .common-footer > div {
  padding-top: 1em;
  padding-bottom: 1em;
}

@-webkit-keyframes spCircRot {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    /* IE 9 */
    -moz-transform: rotate(359deg);
    /* Firefox */
    -webkit-transform: rotate(359deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spCircRot {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    /* IE 9 */
    -moz-transform: rotate(359deg);
    /* Firefox */
    -webkit-transform: rotate(359deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(359deg);
  }
}
@-moz-keyframes spCircRot {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    /* IE 9 */
    -moz-transform: rotate(359deg);
    /* Firefox */
    -webkit-transform: rotate(359deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(359deg);
  }
}
@-o-keyframes spCircRot {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    /* IE 9 */
    -moz-transform: rotate(359deg);
    /* Firefox */
    -webkit-transform: rotate(359deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    /* IE 9 */
    -moz-transform: rotate(359deg);
    /* Firefox */
    -webkit-transform: rotate(359deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(359deg);
  }
}
body.index > .main-wrap > .views > .view.index {
  display: inline-block;
}

@media screen and (min-width: 480px) {
  body.index > .main-wrap > .view.index .first-section .logo {
    position: absolute;
    top: 10px;
  }
  body.index > .main-wrap > .view.index .first-section .buttons {
    position: absolute;
    bottom: 0;
  }
  body.index > .main-wrap > .view.index .first-section .buttons .clare-button:nth-child(1) {
    animation: button-opacity 0.3s ease-in-out 0.3s 1 forwards;
    -moz-animation: button-opacity 0.3s ease-in-out 0.3s 1 forwards;
    -webkit-animation: button-opacity 0.3s ease-in-out 0.3s 1 forwards;
    -o-animation: button-opacity 0.3s ease-in-out 0.3s 1 forwards;
    -ms-animation: button-opacity 0.3s ease-in-out 0.3s 1 forwards;
  }
  body.index > .main-wrap > .view.index .first-section .buttons .clare-button:nth-child(2) {
    animation: button-opacity 0.3s ease-in-out 0.3s 1 forwards;
    -moz-animation: button-opacity 0.3s ease-in-out 0.3s 1 forwards;
    -webkit-animation: button-opacity 0.3s ease-in-out 0.3s 1 forwards;
    -o-animation: button-opacity 0.3s ease-in-out 0.3s 1 forwards;
    -ms-animation: button-opacity 0.3s ease-in-out 0.3s 1 forwards;
  }
}
body.select > .main-wrap > .views > .view.select {
  display: inline-block;
}
body.select > .main-wrap > .views > .view.select .num-array-item, body.select > .main-wrap > .views > .view.select .word-item, body.select > .main-wrap > .views > .view.select .name-item {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: #FFAABF;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* IE 9 */
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* Firefox */
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* Safari 和 Chrome */
  -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
body.select > .main-wrap > .views > .view.select .num-array-item.active, body.select > .main-wrap > .views > .view.select .word-item.active, body.select > .main-wrap > .views > .view.select .name-item.active {
  background-color: #FF2257;
  box-shadow: none;
  -ms-box-shadow: none;
  /* IE 9 */
  -moz-box-shadow: none;
  /* Firefox */
  -webkit-box-shadow: none;
  /* Safari 和 Chrome */
  -o-box-shadow: none;
}

body.help > .main-wrap > .views > .view.help {
  display: inline-block;
}
body.help > .main-wrap > .views > .view.help .num-array-item, body.help > .main-wrap > .views > .view.help .word-item, body.help > .main-wrap > .views > .view.help .name-item {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: #FFAABF;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* IE 9 */
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* Firefox */
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* Safari 和 Chrome */
  -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
body.help > .main-wrap > .views > .view.help .num-array-item.active, body.help > .main-wrap > .views > .view.help .word-item.active, body.help > .main-wrap > .views > .view.help .name-item.active {
  background-color: #FF2257;
  box-shadow: none;
  -ms-box-shadow: none;
  /* IE 9 */
  -moz-box-shadow: none;
  /* Firefox */
  -webkit-box-shadow: none;
  /* Safari 和 Chrome */
  -o-box-shadow: none;
}
