
<!DOCTYPE>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body >
		<div class="mui-col-sm-8 mui-col-sm-offset-2  mui-col-lg-4 mui-col-lg-offset-4">
			<div class="space-2"></div>
			<h3 class="bold">前言</h3>
			<div style="text-indent:2em;">
	 		 	因為要成立公司，需要取一個公司行號，原本想直接讓算命師幫我算一個名稱，
	 		 	結果算出來的名稱沒有一個念起來很順的，因此順便了解了一下公司行號取名的公式，
	 		 	自己來取名，但是名稱組合太多，所以只好開發這個系統，來方便我取名。
			</div>
			<div class="space-2"></div>
			<h3 class="bold">功能</h3>
			<ol>
				<li>算-公司行號
					<ul>
						<li>公司行號運勢</li>
						<li>智慧算名</li>
						<li>筆畫運勢</li>
					</ul>
				</li>
				<li>算-姓名(未開發)
					<ul>
						<li>姓名運勢</li>
						<li>智慧算名</li>
						<li>筆畫運勢</li>
					</ul>
				</li>
			</ol>
		</div>
		
		<script type="text/javascript">
			window['index'] = new IndexView();
			 
			function IndexView(){
				var that = this;
				var _id = 'index';
				var _active = false;
				var _$view = $('.view.'+_id);
				

				_init(); 
				/**
				 * 初始化
				 */
				function _init(){
					if(_$view.length==0){
						return;
					}
					_initComponent();
					_initEvent();
					//向StoreManage注册绑定资料异动，必须在最后处理，避免物件尚未生成
					webManage.getStoreService().bind(StoreDataName.ACTIVEVIEW,_activeViewBind,false);
				}

				/**
				 * 切换View绑定
				 */
				function _activeViewBind(store){
					if(store.data.id==_id){
						_active = true;
						//滑动时 隐藏header
						headerBar.scrollHide(false);
					}else{
						_active = false;
					}
				}
				
				function _initEvent(){
				}
				
				function _initComponent(){
				}
				
			}
		</script>
	</body>
</html>